.navbar {
    padding: 0 10px;
}

.auth-page {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 150px;
}

.btn-reg {
    margin-left: 25px;
}

.auth-input {
    width: 100%;
}

.navbar-btns {
    display: flex;
}

.alert-btn {
    background-color: #f00;
    color: #fff;
}

.cg_postItem-likes {
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-top: 1rem;
}

.cg_postItem-likes:hover {
    cursor: pointer;
}

.cg_postItem-likes span.count-like {
    margin-left: 0.5rem;
}

.cg_postItem-likes.active .icon-like {
    transition: color 1.5s;
    animation-duration: 1s;
    animation-name: like_animation;
    color: rgba(189, 16, 48, 0.64);
}

.cg_postItem-likes.active .count-like {
    transition: color 1.5s;
    color: rgba(189, 16, 48, 0.64);
}

.user_description {
    font-size: 12px;
}

.user_title {
    font-weight: 600;
}

.user_moreBtn {
    cursor: pointer;
}

.user_infoBlock {
    cursor: pointer;
}

nav .sidenav-trigger {
    float: right !important;
}

.card .card-content .card-title {
    margin-bottom: 0;
}
.header .arrow-back{
    display: none;
}   
.header .arrow-back i{
    font-size: 32px;
}   
@keyframes like_animation {
    0% {
        transform: rotate(0) scale(1);
    }

    25% {
        transform: rotate(-45deg) scale(2);
    }

    75% {
        transform: rotate(45deg) scale(2);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

.cg_postItem-description {
    margin-top: 1rem;
}

.header {
    margin-bottom: 2rem;
}

.navbar-btns {
    display: flex;
    flex-direction: column;
}

.nav-item_btns {
    border: 1px solid #eee;
    padding-left: 3rem;
    cursor: pointer;
    border-top: 1px;
}
@media(max-width:992px) {
    .header .arrow-back{
        display: inline-block;
    }
}
@media(min-width:601px) {
    .header .arrow-back i{
        height: 64px;
        line-height: 64px;
    }
}